@use "../global/variables";

.about {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 42px;
  }

  p:has(span) {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    color: $primary-color;
    opacity: 0.03;
    pointer-events: none;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 13px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 40px;

    h2 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 49px;
    }

    p:has(span) {
      font-size: 40px;
      line-height: 40px;
    }

    h3 {
      font-size: 18px;
      line-height: 18px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    max-width: 1440px;
    padding-top: 145px;
    padding-bottom: 180px;

    h2 {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 59px;
    }

    p:has(span) {
      top: -39px;
      font-size: 55px;
      line-height: 55px;
    }

    h3 {
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.about__text-content {
  div:nth-of-type(2) p {
    margin-bottom: 26px;
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    div:nth-of-type(2) p,
    div:nth-of-type(3) p {
      width: 270px;
    }
  }

  @media (min-width: $desktop-width) {
    div:nth-of-type(2) p {
      margin-bottom: 29px;
    }

    div:nth-of-type(2) p,
    div:nth-of-type(3) p {
      width: auto;
    }

    br {
      display: block;
    }
  }
}

.about__title-container {
  position: relative;
}

.about__image-container {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 213px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 100px;
  }
}

.about__image {
  display: block;
}
