@use "../global/variables";

.contacts {
  padding-top: 37px;
  padding-bottom: 20px;

  p {
    margin: 0;
  }

  p:not([class]) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 40px;

    p:not([class]) {
      font-size: 16px;
      line-height: 24px;
      width: 480px;
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 121px;
    padding-bottom: 113px;

    p:not([class]) {
      width: 500px;
      margin-bottom: 50px;
      grid-column: 1 / 2;
    }
  }
}

.contacts__container-desktop {
  display: contents;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts__container-pre-desktop {
  @media (min-width: $desktop-width) {
    display: contents;
  }
}

.contacts__title-container {
  position: relative;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.contacts__title-decoration {
  top: -14px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 34px;
    grid-column: 1 / 2;
    margin-bottom: 0;
  }
}

.contacts__item {
  --icon-image: 0;
  --pseudo-width: 0;
  --pseudo-height: 0;
  --bg-size: 0;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 32px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: var(--pseudo-width);
    height: var(--pseudo-height);
    background-image: var(--icon-image);
    background-size: var(--bg-size);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    gap: 6px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
    gap: 9px;
  }
}

.contacts__item--phone {
  --icon-image: url("/__spritemap#sprite-phone-view");
  --pseudo-width: 20px;
  --pseudo-height: 20px;
  --bg-size: 20px 20px;

  @media (min-width: $tablet-width) {
    --pseudo-width: 21.82px;
    --pseudo-height: 21.82px;
    --bg-size: 21.82px 21.82px;
  }

  @media (min-width: $desktop-width) {
    --pseudo-width: 23.64px;
    --pseudo-height: 23.64px;
    --bg-size: 23.64px 23.64px;

    &::before {
      top: 13px;
    }
  }
}

.contacts__item--email {
  --icon-image: url("/__spritemap#sprite-mail-view");
  --pseudo-width: 20px;
  --pseudo-height: 14px;
  --bg-size: 20px 14px;

  &::before {
    top: 5px;
  }

  @media (min-width: $tablet-width) {
    --pseudo-width: 21.82px;
    --pseudo-height: 15.27px;
    --bg-size: 21.82px 15.27px;
  }

  @media (min-width: $desktop-width) {
    --pseudo-width: 23.64px;
    --pseudo-height: 16.55px;
    --bg-size: 23.64px 16.55px;

    &::before {
      top: 16px;
    }
  }
}

.contacts__item--address {
  --icon-image: url("/__spritemap#sprite-pin-contacts-view");
  --pseudo-width: 15px;
  --pseudo-height: 20px;
  --bg-size: 15px 20px;

  @media (min-width: $tablet-width) {
    --pseudo-width: 16.36px;
    --pseudo-height: 21.82px;
    --bg-size: 16.36px 21.82px;

    br {
      display: none;
    }

    &::before {
      left: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    --pseudo-width: 17.73px;
    --pseudo-height: 23.64px;
    --bg-size: 17.73px 23.64px;

    &::before {
      top: 13px;
      left: 2px;
    }
  }
}

.contacts__item-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__item-description,
.contacts__item-address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
  color: $primary-color;
  width: fit-content;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}


.contacts__item-description {
  position: relative;
  transition: opacity 0.5s ease;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid transparent;
    pointer-events: none;
    transition: border 0.5s ease;
  }

  &:hover {
    &::before {
      border-bottom: 1px solid $primary-color;
    }
  }

  &:focus-visible {
    outline: 1px solid $primary-color;
  }

  &:active {
    opacity: 0.5;

    &::before {
      border: 1px solid transparent;
    }
  }
}

.contacts__item-description--disabled {
  color: $disabled;
  pointer-events: none;
}

.contacts__map-container {
  background-color: #808080;
  min-width: 320px;
  max-width: 320px;
  min-height: 343px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-width: 768px;
    min-height: 340px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-color: transparent;
    min-width: 600px;
    max-width: 600px;
    grid-column: 2 / -1;
    grid-row: 1 / span 3;
    padding-top: 28px;

    &::before {
      position: absolute;
      top: 28px;
      content: "";
      width: 100%;
      height: calc(100% - 78px);
      background-color: #808080;
      z-index: -1;
    }
  }
}

.contacts__map-image {
  display: block;
}
