@use "../global/variables";

.gallery {
  padding-top: 37px;
  padding-bottom: 3px;

  p {
    margin: 0;
  }

  p:not([class]) {
    margin-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;

    p:not([class]) {
      font-size: 14px;
      line-height: 22px;
      width: 420px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;

    p:not([class]) {
      font-size: 16px;
      line-height: 24px;
      width: 592px;
      margin-bottom: 45px;

      br {
        display: none;
      }
    }
  }
}

.gallery__title-container {
  position: relative;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.gallery__title-decoration {
  top: -10px;

  @media (min-width: $tablet-width) {
    top: -15px;
  }

  @media (min-width: $desktop-width) {
    top: -17px;
  }
}

.gallery__overflow {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.gallery__swiper-buttons-container {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -55px;
    right: 45px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: none;
  }
}

.gallery__image-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 158px;
  height: 266px;

  @media (min-width: $tablet-width) {
    gap: normal;
    width: 252px;
    height: 419px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__image {
  display: block;
}

// Swiper

.gallery__swiper {
  width: 100%;
}

// Переполнение для галлереи.
.gallery__swiper-wrapper {
  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    gap: 5px 0;
  }
}

.gallery .gallery__swiper-slide {
  @media (min-width: $desktop-width) {
    width: auto;

    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }
}
