@use "../global/variables";

.hero {
  position: relative;
  color: #ffffff;
  background-color: #d6d6d6;
}

.hero__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 568px;
  padding-top: 145px;
  padding-bottom: 69px;

  h2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 60px;
  }

  @media (min-width: $tablet-width) {
    min-height: 1034px;
    padding-top: 340px;
    padding-bottom: 76px;

    h2 {
      font-size: 56px;
      line-height: 56px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      width: 500px;
      margin: 0 auto;
      margin-bottom: 37px;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    text-align: start;
    min-height: 800px;
    padding-top: 200px;

    h2 {
      font-size: 77px;
      line-height: 77px;
      width: 780px;
      margin-bottom: 23px;
    }

    p {
      width: 420px;
      margin: 0;
      margin-bottom: 35px;
    }
  }
}

.hero__card--kamchatka {
  @media (min-width: $desktop-width) {
    h2 {
      width: 806px;
    }

    p {
      width: 464px;
    }

    .hero__card-button {
      margin-bottom: 100px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    padding-top: 137px;
  }
}

.hero__card--altay {
  @media (min-width: $desktop-width) {
    h2 {
      width: 944px;
    }

    p {
      width: 464px;
    }

    .hero__card-button {
      margin-bottom: 100px;
    }
  }
}

.hero__card-image-container {
  position: absolute;
  top: 0;
  height: 568px;
}

.hero__image {
  display: block;
}

.hero__card-content-group {
  z-index: 1;
}

.hero__card-image-content-container {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 197px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 50%;
    left: auto;
    right: 190px;
    transform: translate(0, 56%);
    pointer-events: none;
  }
}

.hero__card-image-content {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }

  @media (max-width: $pre-tablet-width) {
    display: none;
  }
}

.hero__time-difficult-group {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 10px;
  }
}

.hero .hero__card-time {
  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
    width: 155px;
    margin: 0;

    &::before {
      position: absolute;
      left: 21px;
      content: "";
      width: 11px;
      height: 11px;
      mask-image: url("/__spritemap#sprite-moon-view");
      mask-size: 11px 11px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #ffffff;
    }
  }
}

.hero .hero__card-difficult-rate {
  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
    width: 186px;
    margin: 0;

    &::before {
      position: absolute;
      left: 21px;
      content: "";
      width: 11px;
      height: 11px;
      mask-image: url("/__spritemap#sprite-level-view");
      mask-size: 11px 11px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #ffffff;
    }
  }
}

.hero__card-button {
  min-width: 180px;
  min-height: 56px;

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}


// Swiper

.hero .hero__swiper {
  width: 320px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.hero .hero__slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.hero .hero__pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1;

  @media (min-width: $desktop-width) {
    bottom: 93px;
    left: auto;
    right: 120px;
    transform: translate(0, 0);
    padding-bottom: 0;
  }
}

.hero__pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  pointer-events: none;
  transition: background-color 0.5s ease;

  &::before {
    position: absolute;
    top: -4px;
    left: -4px;
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100%;
    pointer-events: none;
    transition: border 0.3s ease-in-out;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  &:focus-visible {
    outline: 1px solid transparent;

    &::before {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:disabled {
    border-color: $disabled;
    background-color: $disabled;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    pointer-events: auto;
  }
}

.hero__pagination-bullet--active {
  background-color: #ffffff;
}
