@use "../global/variables";

.social-button {
  transition: background-color 0.3s ease, border 0.3s ease;

  &::after {
    transition: background-color 0.3s ease;
  }

  &:hover {
    border: 1px solid $primary-color;
  }

  &:focus-visible {
    border: 1px solid transparent;
  }

  &:active {
    background-color: $secondary-color;
    border: 1px solid transparent;

    &::after {
      background-color: #ffffff;
    }
  }
}

.social-button--disabled {
  border: 1px solid $primary-color;
  opacity: 0.3;
  pointer-events: none;

  &::after {
    background-color: $primary-color;
  }
}
