@use "../global/variables";

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 16px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 80px;
  }
}

.social-list__link {
  --social-icon: 0;
  --social-size: 0;
  --social-width: 0;
  --social-height: 0;

  position: relative;
  display: block;
  width: 31.84px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: var(--social-width);
    height: var(--social-height);
    mask-image: var(--social-icon);
    mask-size: var(--social-size);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $primary-color;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
  }
}

.social-list__link--vk {
  --social-icon: url("/__spritemap#sprite-vk-view");
  --social-size: 17px 9px;
  --social-width: 17px;
  --social-height: 9px;

  @media (min-width: $desktop-width) {
    --social-size: 16px 9px;
    --social-width: 16px;
  }
}

.social-list__link--classmates {
  --social-icon: url("/__spritemap#sprite-classmates-view");
  --social-size: 10.5px 16px;
  --social-width: 10px;
  --social-height: 16px;

  @media (min-width: $desktop-width) {
    --social-size: 10.5px 16px;
    --social-width: 9px;
  }
}

.social-list__link--reddit {
  --social-icon: url("/__spritemap#sprite-reddit-view");
  --social-size: 14.86px 14.5px;
  --social-width: 15px;
  --social-height: 14.5px;

  @media (min-width: $desktop-width) {
    --social-size: 14.86px 16px;
    --social-width: 14px;
  }
}
