@use "../global/variables";

.swiper-button {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 35px;
    transition: background-color 0.5s ease;

    &::after {
      position: absolute;
      top: calc(50% - 1px);
      left: 50%;
      content: "";
      width: 14px;
      height: 9px;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-pointer-view");
      mask-size: 14px 9px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #ffffff;
      transition: background-color 0.5 ease-in;
    }
  }

  &:hover {
    &::after {
      background-color: $primary-color;
    }
  }

  &:focus-visible {
    &::after {
      background-color: $primary-color;
    }
  }

  &:active {
    &::after {
      background-color: #ffffff;
    }
  }
}

.swiper-button--prev {
  @media (min-width: $tablet-width) {
    transform: rotate(180deg);
    top: calc(50% + 1px);
  }
}

.swiper-button--disabled {
  background-color: #999999;
  pointer-events: none;
}
