@use "../global/variables";

.training-bg-wrapper {
  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../img/training/training-bg-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/training/training-bg-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/training/training-bg-clouds-tablet@1x.png") type("image/png") 1x,
      url("../../img/training/training-bg-clouds-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 78%;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/training/training-bg-clouds-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/training/training-bg-clouds-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/training/training-bg-clouds-desktop@1x.png") type("image/png") 1x,
      url("../../img/training/training-bg-clouds-desktop@2x.png") type("image/png") 2x);
    background-position: 100% 102%;
  }
}
