@use "./variables";

.container {
  margin: 0 auto;
  min-width: $phone-width;
  max-width: $phone-width;
  padding-left: $phone-padding-x;
  padding-right: $phone-padding-x;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    max-width: $tablet-width;
    padding-left: $tablet-padding-x;
    padding-right: $tablet-padding-x;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width-container;
    max-width: $desktop-width-container;
  }
}

.container--hero-desktop {
  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 125px;
  }
}

.container--about-tablet-plus {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 450px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 660px;
  }
}

.container--reviews-tablet-plus {
  @media (min-width: $tablet-width) {
    padding-right: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    max-width: 1440px;
    padding-left: 130px;
  }
}

.container--adv-desktop {
  @media (min-width: $desktop-width) {
    min-width: 1440px;
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
  }
}
