@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/montserrat/montserrat-regular.woff2") format("woff2"),
    url("../../fonts/montserrat/montserrat-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/montserrat/montserrat-light.woff2") format("woff2"),
    url("../../fonts/montserrat/montserrat-light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/montserrat/montserrat-semibold.woff2") format("woff2"),
    url("../../fonts/montserrat/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/montserrat/montserrat-bold.woff2") format("woff2"),
    url("../../fonts/montserrat/montserrat-bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/montserrat/montserrat-medium.woff2") format("woff2"),
    url("../../fonts/montserrat/montserrat-medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/montserrat/montserrat-extrabold.woff2") format("woff2"),
    url("../../fonts/montserrat/montserrat-extrabold.woff") format("woff");
}
