@use "../global/variables";

.title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}
